<nav  data-aos="fade-down" data-aos-delay="100"  data-aos-duration="1500" class="navbar fixed-top navbar-expand-lg  bg-blacko">
    <a class="navbar-brand" href="#">XECNON</a>
    <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">
      </span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item ">
          <a class="nav-link tab " routerLink="/home"  routerLinkActive="active" >Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link tab" routerLink="/"  routerLinkActive="active">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link tab" routerLink="/#foot"  routerLinkActive="active" >Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link tab" routerLink="/home"  routerLinkActive="active">About</a>
        </li>
      </ul>
    </div>
  </nav>