.email-cont{
    background-color: black;
    justify-content: center;
    align-items: center;
    
    padding: 40px;
}
.submail{
    margin-top: 100px;
    width:70%;
    height: 60px;
    border:2px solid orange;
    font-size: 25px;
     background-color: rgba(0, 0, 0, 0.445);
     color:white;
     padding-left:15px;
     border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    transition: .2s;
}
.submail:active,.submail:focus{
    outline: none;
    box-shadow:0px 0px 20px orange;
}
.subbtn{
    border: 2px solid yellow;
    height: 60px;
   min-width: none;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 25px;
    color:yellow;
    background-color: black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left-color:orange ;
    transition: .5s all;
}
.subbtn:hover{

    color: black;
    background-color: yellow;
}
.head-h1{
    font-weight: 100;
    color: white;
    margin-top: 80px;
}

@media only screen  and (max-width:992px) {

    .subbtn{
        margin-top: 20px;
    }
}